@url topLeftCornerUrl topLeftCorner;
.windowDecoratorPanel .topLeft {
	background: topLeftCornerUrl no-repeat;
	height: 8px;
	width: 8px;
}

@url topRightCornerUrl topRightCorner;
.windowDecoratorPanel .topRight {
	background: topRightCornerUrl no-repeat;
	height: 8px;
	width: 8px;
}

@url bottomLeftCornerUrl bottomLeftCorner;
.windowDecoratorPanel .bottomLeft {
	background: bottomLeftCornerUrl no-repeat;
	height: 8px;
	width: 8px;
}

@url bottomRightCornerUrl bottomRightCorner;
.windowDecoratorPanel .bottomRight {
	background: bottomRightCornerUrl no-repeat;
	height: 8px;
	width: 8px;
}

@url topCenterBackgroundUrl topCenterBackground;
.windowDecoratorPanel .topCenter {
	background: topCenterBackgroundUrl repeat-x;
	height: 8px;
}

@url middleLeftBackgroundtUrl middleLeftBackground;
.windowDecoratorPanel .middleLeft {
	background: middleLeftBackgroundtUrl repeat-y;
	width: 8px;
}

@url bottomCenterBackgroundUrl bottomCenterBackground;
.windowDecoratorPanel .bottomCenter {
	background: bottomCenterBackgroundUrl repeat-x;
	height: 8px;
}

@url middleRightBackgroundUrl middleRightBackground;
.windowDecoratorPanel .middleRight {
	background: middleRightBackgroundUrl repeat-y;
	width: 8px;
}

.windowPanel {
	
}

.windowHeaderPanel {
	background-color: #D0DAE8;
	width: 100%;
}

.windowHeaderPanel td:first-child {
	width: 16px;
}

.windowHeaderPanel td:last-child {
	width: 15px;
}

.windowTitleLable {
	float: left;
	font-size: 12px;
	font-weight:bold;
	line-height: 16px;
	padding: 0 0 0 5px;
	color: #15429B;
}

.windowContentPanel {
	border: 3px solid #99BBE8
}

.windowControlPanel {
	border-width: 2px;
	border-color: teal;
	border-style: solid;
	width: 100%;
}

.simpleButton {
	with: 40px;
}

@url closeButtonIconUrl closeButtonIconResource;
@url createIconResourceUrl createIconResource;
.windowCloseButton {
	width: 15px;
	height: 15px;
	background-image: closeButtonIconUrl;
}

.tabStyle {
	
}

.createButton {
	background-image: createIconResourceUrl;
	background-repeat: no-repeat;
	background-color: yellow;
	border-width: 3px;
	color: #333333;
	font-size: 11px;
	line-height: 26px;
	padding-left: 20px;
}

.createButton-up {
	background-color: yellow;
	border-width: 1px;
	color: #333333;
	font-size: 11px;
	line-height: 26px;
}

.createButton-up-hovering {
	background-image: none;
	background-color: red;
	border-width: 1px;
	color: #333333;
	font-size: 11px;
	line-height: 26px;
}