/* Incremental changes from CellTable.css */
.windowPanel {
	border-width: 2px;
	border-color: yellow;
	border-style: solid;
}

.windowHeaderPanel {
	border-width: 2px;
	border-color: fuchsia;
	border-style: solid;
	width: 100%;
}

.windowContentPanel {
	border-width: 2px;
	border-color: navy;
	border-style: solid;
}

.windowControlPanel {
	border-width: 2px;
	border-color: teal;
	border-style: solid;
	width: 100%;
}

.simpleButton{
	with:40px;
}


@url closeButtonIconUrl closeButtonIconResource;
@url createIconResourceUrl createIconResource;
.windowCloseButton {
	width: 16px;
	height: 16px;
	background-image: closeButtonIconUrl;
}

.tabStyle {
	
}

.createButton {
	background-image: createIconResourceUrl;
	background-repeat: no-repeat;
	background-color: yellow;
	border-width: 3px;
	color: #333333;
	font-size: 11px;
	line-height: 26px;
	padding-left: 20px;
}

.createButton-up {
	background-color: yellow;
	border-width: 1px;
	color: #333333;
	font-size: 11px;
	line-height: 26px;
}

.createButton-up-hovering {
	background-image: none;
	background-color: red;
	border-width: 1px;
	color: #333333;
	font-size: 11px;
	line-height: 26px;
}